/* #calendar-container{
    width: 80%;
    height: 500px;
    display: flex;


} */
/* .fc-prev-button{
    width: 350px !important;
    height: 100% !important;
}
.fc-next-button{
    width: 350px !important;
    height: 100% !important;
} */
.fc-toolbar{
    display:flex;
    text-transform:capitalize;
    flex-wrap: wrap;
}
@media (max-width : 400px) {
    .fc .fc-toolbar-title{

        font-size: 13px !important;
    }
}
@media (max-width : 380px) {
    .fc .fc-toolbar-title{
        font-size: 13px !important;
    }
}
