body{
    overflow: hidden;
}

#myChart{
    max-height: 400px;
}
main{
    background-image: url('../../storage/app/public/publicImages/portadaAdmin2.jpg');
    background-position: center;
    background-size: contain;
}
.scroll-area{
    overflow-y: scroll!important;
    height: calc(100vh - 10px)!important;
}
.min-scroll-area{
    overflow-y: scroll!important;
    height: calc(300px - 10px)!important;
}
.main-sidebar{

    height: calc(100vh - 10px)!important;
}

/* Barber module */
.barber-card{
    width: 215px;
}
.img-container{
    width: 200px;
    height: 200px;
    background-color: #d3ad7f;
}
.img-container img{
    width: 100%;
    height: auto;
}
