/* Search page */
.container{
    padding-top:100px;
    padding-bottom:100px;
}
.search{
    height: 45px;
    font-size: 20px;
    font-style: italic;
}
.search-icon{
    background-color: #d3ad7f!important;
}
.left-col{
    min-width: 300px!important;
}
.rigth-col{
    width: 100%!important;
    min-width: 300px!important;
}
.a-card{
    text-decoration: none;
    color: black;
}
.card{
    width: 350px;
}
.card:hover{
    background-color: #d3ad7f;
    color: black;
}
.img-container{
    width: 100px;
    height: 100px;
    background-color: #d3ad7f;
}
.img-container img{
    width: 50px;
    height: 75px;
}
.search-result-title, .barbershop-information-title{
    font-size: 35px!important;
}
.search-result-text, .barbershop-information-text, .card-text{
    font-size: 13px!important;
}

/* Babershop information page */
.btn-go-to-citation{
    width: 200px;
    border-radius: 20px;
}
.ad-image{
    width: 400px!important;
}


/* Week page */
.day-card{
    width: 170px;
    height: 170px;

}
.day-card-title{
    font-size: 35px!important;
}

/* citation form page */
.citation-card-form{
    border-radius: 20px;
    width: 400px!important;
    background-color: #d3ad7f;
}
.citation-input {
    font-size: 17px;
}