.background{
    background-color: currentColor;
}
/* Estilos de la parte publica "busqueda y proceso de citas" */
/* Home */
.custom_toast{
    font-size: 17px;
}

/* Search page */
.ad-header{
    width:100%;
    height: 40vh;
}
.radius-image{
    border-end-start-radius: 100px; 
    border-start-end-radius: 100px;
    width: 100%;
    height: 300px;
}
.search{
    height: 45px;
    /* font-size: 20px; */
    font-style: italic;
}
.search-icon{
    background-color: #d3ad7f!important;
}
.left-col{
    min-width: 300px!important;
}
.rigth-col{
    width: 100%!important;
    min-width: 300px!important;
}
.a-card{
    text-decoration: none;
    color: black;
}
.card{
    width: 350px;
    /* border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; */
    transition: all ease-in-out 0.3s;
}

.result-card{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.services-card{
    background-color: gray;
    /* width: 130px; */
    /* border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; */
    transition: all ease-in-out 0.3s;
}
.card:hover, .services-card:hover{
    background-color: #d3ad7f;
    color: black;
}
.gold-background{
    background-color: #d3ad7f!important;
}
.img-container{
    width: 100px;
    height: 100px;
    background-color: #d3ad7f;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.img-container img{
    width: 50px;
    height: 75px;
}
.search-results-section{
    padding-top: 20px!important;
}
.barbershop-section{
    background-color: currentColor;
}
.search-result-card-body{
    width: 100%;
    height: 100px;
    overflow: hidden!important;
}
.search-result-title, .barbershop-information-title, .day-card-title{
    font-size: 20px!important;
}
.search-result-text, .barbershop-information-text, .card-text{
    font-size: 13px!important;
}

/* Babershop information page */
.btn-go-to-citation{
    width: 200px;
    border-radius: 20px;
}
.ad-image{
    width: 400px!important;
}

/* Barber */
.barber-card-container{
    width: 200px;
    height: 200px;
}
.barber-card{
    width: 170px;
    height: 170px;
}
.barber-card img{
    width: 155px;
    height: 155px;
}

/* Week page */
/* .day-card-title{
    font-size: 35px!important;
} */
.day-card-container{
    width: 120px;
    height: 120px;
}
.day-card{
    width: 110px;
    height: 110px;
}

/* citation form page */
.citation-card-form{
    border-radius: 20px;
    width: 700px!important;
    background-color: #d3ad7f;
}
.list-group-item{
    font-size: 17px;
}

.citation-input {
    font-size: 17px;
}

/* Hours page */
.hours-card{
    background-color: gray;
    width: 90px;
    height: 50px;
}

/* Calendar  */
#calendar{
    display: flex;
    color: white;
}
#calendar th{
    color: black;
}
#calendar-container{
    display:flex;
    width:100%;
    height:100%;
}
/* :root{
    height: 100vh !important;
} */
.modal-backdrop{
    --bs-backdrop-zindex: 0;
}
.modal{
    --bs-modal-zindex: 1000000;
}