/* Home */
.custom_toast{
    font-size: 17px;
}

/* Search page */
.container{
    padding-top:100px;
    padding-bottom:100px;
}
.search{
    height: 45px;
    font-size: 20px;
    font-style: italic;
}
.search-icon{
    background-color: #d3ad7f!important;
}
.left-col{
    min-width: 300px!important;
}
.rigth-col{
    width: 100%!important;
    min-width: 300px!important;
}
.a-card{
    text-decoration: none;
    color: black;
}
.card{
    width: 350px;
}
.card:hover{
    background-color: #d3ad7f;
    color: black;
}
.gold-background{
    background-color: #d3ad7f;
}
.img-container{
    width: 100px;
    height: 100px;
    background-color: #d3ad7f;
}
.img-container img{
    width: 50px;
    height: 75px;
}
/* .search-result-container{
    height: 50vh!important;
} */
.search-result-card-body{
    width: 100%;
    height: 100px;
    overflow: hidden!important;
}
.search-result-title, .barbershop-information-title, .day-card-title{
    font-size: 20px!important;
}
.search-result-text, .barbershop-information-text, .card-text{
    font-size: 13px!important;
}

/* Babershop information page */
.btn-go-to-citation{
    width: 200px;
    border-radius: 20px;
}
.ad-image{
    width: 400px!important;
}

/* Barber */
.barber-card-container{
    width: 200px;
    height: 200px;
}
.barber-card{
    width: 170px;
    height: 170px;
}
.barber-card img{
    width: 155px;
    height: 155px;
}

/* Week page */
/* .day-card-title{
    font-size: 35px!important;
} */
.day-card-container{
    width: 120px;
    height: 120px;
}
.day-card{
    width: 110px;
    height: 110px;
}

/* citation form page */
.citation-card-form{
    border-radius: 20px;
    width: 700px!important;
    background-color: #d3ad7f;
}
.list-group-item{
    font-size: 17px;
}

.citation-input {
    font-size: 17px;
}

/* Hours page */
.hours-card{
    width: 250px;
    height: 100px;
}

