/* Auth pages style */
body{
    background: black;
}
.img-container{
    width: 200px;
    height: 200px;
    background-color: #d3ad7f;
}
.card:hover{
    background-color: #d3ad7f;
    color: black;
    transition: .2s linear;
}
.app{
    height: 100vh;
}
.login-header-img{
    height: 150px;
}
.login-card{
    margin-top: 100px;
}
