/* Auth pages style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    height: 100%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

/* login card */
/* Estilos modificados del formulario */
.login-block .form-box {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        width: 400px;
        height: 500px;
        border-radius: 20px;
        backdrop-filter: blur(15px) brightness(80%);
        padding: 30px; /* Agregamos un espacio de relleno para separar el contenido del borde */
}

.login-block h2 {
    font-size: 2em;
    
    text-align: center;
}

.login-block .inputbox {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.login-block .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);

    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
    background: transparent;
}

/* Nuevo CSS para las etiquetas activas */
.login-block .inputbox label.active {
    top: -7px;
    background: transparent;
}


.login-block .inputbox input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color:white;
}

.login-block .inputbox ion-icon {
    position: absolute;
    right: 8px;
    
    font-size: 1.2em;
    top: 20px;
}
.login-block .pass-btn{
    width: 25px;
    height: 25px;
}

.login-block .forget {
    margin: 10px 0; /* Ajustamos el margen para que haya espacio entre los campos y el enlace "Forgot Password" */
    font-size: 0.9em;
   color:white;
    display: flex;
    justify-content: space-between;
}

.login-block .forget:hover {
    text-decoration: underline;
    color:salmon;
    
}

.login-block .forget label input {
    margin-right: 3px;
}

.login-block .forget a {
   
    text-decoration: none;
}

.login-block .forget a:hover {
    text-decoration: underline;
    
}

.login-block button {
    width: 80%;
    height: 40px;
    border-radius: 40px;
   
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.login-block .btn-show-password {
    transform:translateX(70%);
    transition:50%;
    background-color: transparent;
    width: 25px;
    height: 25px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-block.btn-show-password:focus {
    outline: none;
}
.login-block .register {
    font-size: 0.9em;
    color:salmon;
    text-align: center;
    margin: 15px 0; /* Ajustamos el margen para que haya espacio entre los campos y el enlace "Don't have an account?" */
}


/* Media queries */
@media (max-width: 767px) {
    .login-block .form-box {
        width: 90%;
        max-width: 100%; /* Cambiamos el máximo ancho a 100% para que ocupe toda la pantalla en dispositivos pequeños */
    }
}

/* Form styles */
/* #msform {
	background-image: url(https://cdn.pixabay.com/photo/2016/06/12/21/41/barber-1453064_960_720.jpg) !important;
	background-size: cover;
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background-color:rgba(0,0,0,0.4) !important;
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
	padding: 20px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
	left:0%;
	right: 0%;
	position: relative;
} */

/* Hide all except first fieldset */
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform p {
    color: #8b9ab0;
    font-size: 12px;
}

/* Inputs */

/* Buttons */
#msform .action-button {
    width: 49%;
    text-transform: uppercase;
    background: #e74c3c;
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px 5px;
    margin: 10px 0;
    font-size: 16px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
#msform .previous.action-button {
    background: #fff;
    border: 1px solid #7bbdf3;
    color: #7bbdf3;
}

/* Headings */
.fs-title {
    font-size: 26px;
    font-weight: 200;
    color: #434a54;
    margin-bottom: 20px;
}
.fs-subtitle {
    font-weight: 400;
    color: #434a54;
    margin-bottom: 20px;
    line-height: 1.4;
}
#msform #progressbar li {
    font-size: 13px;
    text-transform: capitalize;
}
/* Progressbar */
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #8b9ab0;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li.active {
    color: #e74c3c;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3em;
    margin: 0 auto 5px auto;
}

/* Progressbar connectors */
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
#progressbar li:first-child:after {
    /* connector not needed before the first step */
    content: none;
}

/* Marking active/completed steps green */
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #e74c3c;
    color: white;
}
