body {
    color: white;
    display: flex;
    background: url("https://images.pexels.com/photos/6353659/pexels-photo-6353659.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.title {
    color: white !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-car {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    padding: 30px;
    overflow: hidden;
    height: 500px;
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group label {
    margin-bottom: 15px;
    padding-bottom: 15px;
    transform: translateY(-9px);
    display: block;
    font-size: 16px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    text-align: left;
    position: absolute;
    top: 14px;
    left: 12px;
    color: white !important;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group #card-element {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 14px;
    background-color: transparent;
    color: lightgrey;
}

.form-group select {
    appearance: none;
    background-size: 20px;
    background-color: transparent;
    padding: 12px 30px 12px 12px;
    height: 48px;
}

.form-group .card-input {
    border:none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-group .card-input > div {
    flex: 1;
}

.form-group .card-input .card-brand {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-group .card-errors {
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
}

.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.form-group label.active {
    transform: translateY(-34px);
    font-size: 16px;
    transition: transform 0.3s ease, font-size 0.3s ease;
}
.form-group button {
    background-color: salmon;
    color: #fff;
    border: none;
    width:200px;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: red;
}

#card-element-container label {
    top: -8px;
    left: 12px;
}

#barbers-label {
    top: -12px;
    left: 12px;
}
